* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #003663;
}

/* universal_codes */

/* scroll-top */
.scroll-to-top.hide {
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.scroll-to-top {
    transition: .5s;
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: white;
    border-radius: 50%;
    right: 30px;
    bottom: 50px;
    z-index: 11111;
    opacity: 1;
    pointer-events: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 5px 10px 2px rgba(90, 48, 137, 0.48);
}

.scroll-to-top:hover {
    transition: .5s ease-in-out;
    transform: scale(.8);
}

.scroll-to-top i {
    font-size: 25px;
    color: #003663;
}

.nav_mobile {
    display: none;
}

/* loader */

.mask {
    width: 100% !important;
    height: 100% !important;
    background-color: #003663;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important; 
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 111111;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px solid rgba(255, 255, 255, .8);
    border-radius: 50%;
    border-left-color: #00569D;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.scroll-hide{
    opacity: 0;
}

.hide {
    opacity: 0;
    display: none !important;
}

.swiper{
    display: none;
}

section h1 {
    font-size: 32px;
    line-height: 50px;
    font-weight: 500;
    color: #000000;
}

.mt-35 {
    margin-top: 35px;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.disable-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

p {
    margin-bottom: 0;
}

svg {
    width: 20px;
    height: 20px;
}

img,
video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.btn {
    padding: 0;
}

/* header_staering */
header {
    width: 100%;
}

header .header_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px 0px;
    z-index: 33333;
    box-shadow: 1px 5px 10px 1px rgba(0, 54, 99, 0.3);
}

header .header_top .header_itmes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header_top .logo {
    display: inline-block;
    color: #FFCD00;
    font-size: 25px;
    font-weight: 700;
    line-height: 22px;
}

header .header_top .elements {
    display: flex;
    align-items: center;
}

header .header_top .elements .phone a {
    padding: 12px 20px;
    background-color: #FFCD00;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.Mobimg{
    display: none;
}

header .header_top .img{
    max-width: 200px;
}

header .header_top .img img{
    max-width: 100%;
}

header .header_top .burger_menu {
    display: none;
}

header .navbar {
    padding-top: 65px;
    padding-bottom: 0;
    border-bottom: 2px solid #EFEFEF;
}

header .navbar .navbarUl {
    display: flex;
    align-items: center;
    margin: auto;
}

header .navbar .navbarUl .ulEl {
    padding: 20px 67px;
    border-left: 2px solid #EFEFEF;
    cursor: pointer;
    transition: all 0.6s ease;
}

header .navbar .navbarUl .ulEl:last-of-type {
    border-right: 2px solid #EFEFEF;
}

header .navbar .navbarUl .ulEl a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

header .navbar .navbarUl .ulEl:hover {
    background-color: #00569D !important;
}

.ourworks{
    padding-top: 20px;
}

.ourworks h1{
    color: #FFCD00;
    text-align: center;
    margin-bottom: 20px;
}

.ourworks .swiper{
    display: block;
}

.ourworks .swiper2{
    position: relative;
}

header .header_title {
    padding-top: 40px;
    padding-bottom: 40px;
}

header .header_title div{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.cssanimation, .cssanimation span{
    animation-duration: 0.09s;
}

/* header-end */

/* section-starting */
section {
    width: 100%;
    background-color: white;
    text-align: center;
}


section .cataloge {
    width: 100%;
    background-color: white;
    padding: 40px 0px;
}

section .cataloge nav .items {
    display: flex;
    justify-content: center;
}

section .cataloge nav .items .item {
    padding: 20px 75px;
    background-color: #EFEFEF;
    border: 2px solid #EFEFEF;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
}

section .cataloge nav .items .active {
    background-color: #003663;
    color: white;
}

section .cataloge .gallery {
    width: 432px;
    margin-top: 30px;
}

section .cataloge .gallery.hide {
    display: none;
}

section .cataloge .gallery.show {
    display: block;
}

section .cataloge .gallery .image {
    width: calc(100% / 1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #003663;
}

section .cataloge .gallery .image img {
    width: calc(124% / 4);
    margin: 10px 0px;
    margin-right: 10px;
}

section .cataloge .gallery .image img:nth-of-type(3),
section .cataloge .gallery .image img:nth-of-type(6) {
    margin-right: 0;
}

section .cataloge .gallery .image img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

section .preview-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: white;
    max-width: 700px;
    width: 100%;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

section .preview-box .details {
    display: flex;
    align-items: center;
    padding: 13px 15px 13px 10px;
    justify-content: flex-end;
}

section .preview-box .details .icon {
    color: #003663;
    font-size: 22px;
    cursor: pointer;
}

section .preview-box .image-box {
    width: auto;
    margin: 10px 0px;
}

section .preview-box .image-box img {
    width: 50%;
    border-radius: 0 0 3px 3px;
}

section .shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

section .contact {
    width: 100%;
    padding: 30px 0px;
}

section .contact h1 {
    color: #003663;
    font-size: 50px;
    margin-bottom: 20px;
}

section .contact p {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #003663;
    margin: 30px 0px;
}

.contact {
    width: 100%;
    background-color: #003663;
    padding: 30px 0px;
}

.contact .element{
    max-width: 450px;
    text-align: left;
}

.contact .element .user,
.contact .element .contacts{
    margin-bottom: 10px;
}

.contact h1 {
    color: #FFCD00 !important;
}

.contact h3,
.contact a{
    color: white;
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
}

.contact h3 span,
.contact h3 i,
.contact .right h3 {
    color: #FFCD00;
}

.contact h3 i {
    margin-right: 5px;
}



/* section_end */

/* xxl 1600px --- cheksiz*/

/* xl 1400px --- 1200px */

@media (max-width: 1400px) {
    section .cataloge .gallery {
        width: 380px;
    }

    section .preview-box {
        max-width: 550px;
    }
}

/* lg 1199px --- 992px*/

@media (max-width: 1200px) {

    header .navbar .navbarUl .ulEl {
        padding: 20px 52px;
    }

    section .preview-box {
        max-width: 510px;
    }

    .contact .left,
    .contact .right {
        width: 50%;
        text-align: left;
    }
}

/* md 991px --- 768px*/

@media (min-width: 768px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1296px;
    }
}

@media (max-width: 992px) {


    section .cataloge {
        padding: 20px 0px;
    }

    .contact .left h3, .contact .right h3{
        font-size: 20px;
    }

}

/* sm 767px --- 576*/

@media (max-width: 768px) {

    section .cataloge .gallery .image img{
        width: calc(124% / 5);
    }

    .dbnone{
        display: none;
    }

    .swiper{
        display: block;
    }

    .swiper-button-next, .swiper-button-prev{
        width: 50px;
        height: 50px;
        background-color: #00569D;
        border-radius: 50%;
    }

    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 23px;
        color: #FFCD00;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0px;
    }

    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        opacity: 100%;
        background-color: #00569D;
    }

    .swiper-pagination-bullet-active{
        transition: .4s;
        background-color: #FFCD00;
        width: 20px;
        border-radius: 40%;
    }

    .swiper-pagination{
       bottom: 0;
    }

    section .cataloge .gallery{
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    body.lock {
        overflow: hidden;
    }

    header .header_top .elements {
        display: none;
    }

    header .header_top .burger_menu {
        display: block;
    }

    header .header_title div{
        font-size: 22px;
    }

    .Mobimg{
        display: block;
        max-width: 150px;
    }

    header .navbar {
        display: none;
    }

    .burger_menu {
        width: 30px;
        height: 20px;
        display: block;
        position: relative;
    }

    .burger_menu span {
        position: absolute;
        background-color: #003663;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .burger_menu::before,
    .burger_menu::after {
        content: '';
        background-color: #003663;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger_menu::before {
        top: 0;
    }

    .burger_menu::after {
        bottom: 0;
    }

    .burger_menu.active::before {
        transform: rotate(45deg);
        top: 8px;
    }

    .burger_menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .burger_menu.active span {
        transform: scale(0);
    }

    /* navbar */

    .nav_mobile.active {
        top: 0;
    }

    .nav_mobile {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        background-color: #00569D;
        display: flex;
        padding: 35px 0px;
        align-items: center;
        z-index: 2;
    }

    .nav_mobile .navbarUl {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .nav_mobile .navbarUl .ulEl {
        display: inline-block;
        margin-bottom: 30px;
    }

    header .phone a {
        padding: 12px 20px;
        background-color: #FFCD00;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: #000000;
    }

    .nav_mobile .navbarUl li a {
        color: white;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
    }

    header .header_title {
        padding-top: 87px;
    }

    header .header_title .right img {
        max-width: 80%;
    }

    header .header_title .left h1 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 65px;
    }

    section .cataloge .gallery {
        width: 360px;
    }
}

/* col 575px --- 320px */

@media (max-width: 576px) {


    .nav_mobile .navbarUl {
        flex-direction: column;
        text-align: center;
    }

    .nav_mobile .navbarUl .ulEl {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .nav_mobile .navbarUl .phone a {
        padding: 12px 20px;
        background-color: #FFCD00;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    header .header_title{
        padding-top: 30px;
    }

    header .header_title div{
        font-size: 20px;
    }

    header .header_title .left h1 {
        font-size: 20px;
        line-height: 20px;
    }

    header .header_title .left .catalog {
        padding: 20px 20px;
    }

    header .header_title .left .catalog .specios {
        top: -13%;
        left: 10px;
        padding: 10px 10px;
    }

    header .header_title .left .catalog .specios p {
        font-size: 13px;
        line-height: 25px;

    }

    header .header_title .left .catalog h4 {
        line-height: 22px;
    }

    header .header_title .left .catalog .options p {
        font-size: 15px;
        line-height: 15px;
    }

    header .header_title .left .catalog .options a {
        padding: 10px 10px;
        font-size: 10px;
    }

    section .cataloge nav .items .item {
        padding: 20px 30px;
    }

    section .cataloge .gallery .image img {
        width: calc(123% / 5);
    }

    section .cataloge .gallery .image{
        justify-content: center;
    }

    .contact h3,
    .contact a{
        font-size: 17px;
    }

    section .cataloge .gallery{
        margin-top: 10px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,3px);
    }

}

@media (max-width: 355px) {
    section .cataloge .gallery .image{
        justify-content: start;
    }
}